.box{
    width: 70%;
    justify-content: center;
    position: relative;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.title{
    display: flex;
    justify-content: center;
    width: 100%;
}

.subtitle{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 14px;
}

.buttons{
    position: relative;
    display: flex;
    justify-content: center;
}

#buttonA{
    margin: 0 2%;
}

#buttonB{
    margin: 0 2%;
}

#reset{
    margin: 0 2%;
}

.img{
    position: relative;
    display: flex;
    justify-content: center;
}

#przejscia{
    position: relative;
    display: flex;
    justify-content: center;
}

#autor{
    font-size: 12px;
    margin-top: 5%;
}